@charset "utf-8";
/* CSS Document */

/* Font faces */
@font-face {
    font-family: Raleway-Regular;
    src: url("../Fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Bold;
    src: url("../Fonts/Raleway-Bold.ttf");
}

/* General Styles */
body {
    font-family: Raleway-Regular;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}

/* Navigation */
.navbar-light .navbar-nav .nav-link {
    color: #272727;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: #ff3c41;
    font-family: Raleway-Bold;
    font-size: 12px;
}

/* Carousel */
.carousel .carousel-inner img {
    width: 100%;
}

/* Title Section */
.title {
    font-size: 40px;
    text-align: center;
    font-family: Raleway-Bold;
    color: #1b1b1b;
    letter-spacing: 2px;
    padding: 60px 0 30px 0;
}

/* About Section */
.about-img {
    width: 100%;
}

.about-content h3 {
    font-size: 26px;
    font-family: Raleway-Bold;
    color: #3c3c3c;
    font-weight: 100;
}

.about-content button {
    background: none;
    border: 3px solid #76daff;
    font-size: 12px;
    font-family: Raleway-Bold;
    color: #3c3c3c;
    padding: 10px 25px;
    margin-top: 15px;
}

.line {
    height: 1px;
    background: #7f7f7f;
    margin: 20px auto;
    width: 80%; /* Giả định chiều rộng đường kẻ */
}

/* Service Section */
.service_icon {
    font-size: 40px;
    color: #76daff;
}

.service_content h4 {
    font-size: 20px;
    color: #222222;
    font-family: Raleway-Bold;
    font-weight: 100;
    letter-spacing: 2px;
}

.service_content p {
    font-size: 16px;
    color: #777777;
    font-family: Raleway-Regular;
}

/* Responsive Media Queries */
@media screen and (max-width: 992px) {
    .about-img, .about-content {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .navbar-light .navbar-brand {
        width: 50%;
    }
    .about-img {
        display: none;
    }
}